<div id="marketing">
  <div class="clearfix">
    <div id="introduction" class="da1-da4">
        <h1 class="blog">Registration opens December 1st!</h1>
      <!--

        <p>
          The 2014 Rails Rumble was a huge success! Thank you to all of the teams
          and public judges that participated.
        </p>

        <p>
          Please take some time to check out this year's <a href="/entries/winners">winners</a>, the
          <a href="http://blog.railsrumble.com/2014/10/03/prizes-prizes-prizes/">prizes</a> they've won, and the other excellent
          <a href="/entries/all">entries</a> in this year's competition.
        </p>


      <h1>New to the Rails Rumble?</h1>

      <p>
        The Rails Rumble is a distributed programming competition where hundreds of teams
        of one to four people, from all over the world, have 48 hours to build an innovative
        web application, with Ruby on Rails or another Rack-based Ruby web framework.
      </p>

      <p>
        After the 48 hours are up, everyone picks their favorites and the top ten
        winners are revealed!
      </p>

      <p>
        For more details and answers to common questions, <a href="/about">click here</a>.
        </p>
        -->
    </div>

    <div id="signin" class="da5-da6">
        <div id="where" class="well">
          <p>
            Be sure and follow <a href="http://twitter.com/codeinthecold" target="_blank">@codeinthecold</a>
            and join the discussion <a href="https://gitter.im/bigtunacan/codeinthecold">#codeinthecold</a> Gitter.
          </p>

          <a href="https://gitter.im/bigtunacan/codeinthecold" class="btn btn-highlight btn-block btn-large">Join the Gitter.im Chat</a>
        </div>

            <div class="well">
              <h1>Competitors</h1>

              <a href="/auth/signin" class="btn btn-highlight btn-block btn-large">Sign in</a>
              <a href="/auth/register" class="btn btn-highlight btn-block btn-large">Register</a>
            </div>

            <div class="well">
              <h1>Public Judges</h1>

              <a href="/auth/twitter" class="btn btn-highlight btn-block btn-large">Sign in with Twitter</a>
            </div>
    </div>
  </div>

  <div id="sponsors" class="clearfix ui-sortable">
    <h1>Meet Our Wonderful Sponsors</h1>
  </div>

  <!-- Begin Business Ads -->
  <div class="row">

    <div class="small-1 column"></div>

    <div class="small-10 small-centered column">
      <center>
        <a href="http://uipartners.uiowa.edu/deviowa" target="_blank">
          <img src="img/sponsors/DevIowaSticker.png">
        </a>
      </center>
    </div>

    <div class="small-1 column"></div>
  </div>

  <!--
  <div class="row">

    <div class="small-1 column"></div>

    <div class="small-10 small-centered column">
      <a href="https://signup.heroku.com/ruby?c=70130000001x9MS" target="_blank">
        <img src="https://s3.amazonaws.com/railsrumble.com/sponsors/r14/sponsor-1406059968/heroku.png">
      </a>
    </div>

    <div class="small-1 column"></div>

  </div>
  -->

  <div class="row">
    <div class="small-4 column">
      <a href="https://heyswell.com" target="_blank">
        <img src="https://s3.amazonaws.com/railsrumble.com/sponsors/r14/sponsor-1412338647/swell.png">
      </a>
    </div>

    <div class="small-4 column">
      <a href="http://github.com" target="_blank">
        <img src="https://s3.amazonaws.com/railsrumble.com/sponsors/r14/sponsor-1406059305/github.png">
      </a>
    </div>

    <div class="small-4 column">
      <a href="http://deployhq.com" target="_blank">
        <img src="https://s3.amazonaws.com/railsrumble.com/sponsors/r14/sponsor-1406059524/deploy.png">
      </a>
    </div>

  </div>
      <!-- END Business Ads -->
</div>
