<div class="row fullWidth">

  <div class="medium-6 column">
    <div class="row">
      <div class="small-6 column">
        <a class="th" href="http://www.mojoe.mobi/">
          <img src="img/organizers/joe.jpg" width="125px" height="125px">
        </a>
      </div>
      <div class="small-6 column">
        <h2 class="people">Joe Seeley</h2>
        <a class="people" href="http://twitter.com/jseeley">@jseeley</a><br/>
        <a class="people" href="http://mojoe.mobi">mojoe.mobi</a>
      </div>
    </div>
  </div>

  <div class="medium-6 column">
  <p class="people">
    Joe is a senior application developer at the University of Iowa who also organizes the Iowa Mobile Developer Meetup.
  </p>
  </div>



</div>

<div class="row fullWidth">
  <div class="medium-6 column">
    <div class="row">
      <div class="small-6 column">
        <a class="th" href="http://www.zachsanderson.com/">
          <img src="img/organizers/zach.jpeg" width="125px" height="125px">
        </a>
      </div>
      <div class="small-6 column">
        <h2 class="people">Zach Sanderson</h2>
        <a class="people" href="http://twitter.com/zachsanderson">@zachsanderson</a><br/>
        <a class="people" href="http://www.zachsanderson.com/">www.zachsanderson.com</a>
      </div>
    </div>
  </div>

  <div class="medium-6 column">
  <p class="people">
    Zach is the program coordinator for Dev/Iowa, a University of Iowa program dedicated to developing Iowa’s tech community.
  </p>
  </div>
</div>
